.statements {
    text-align: left;
    border: 1px solid black;
    padding-left: 20px;
    margin: 2px;
}

.keyword {
    background-color: yellow;
}

span {
    margin-left: 2px;
    margin-right: 2px;
}